*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
input::placeholder{
  color: white;
}
a{
    cursor: pointer;
}
a:hover{
    text-decoration:none;
}

input[type=text]:focus {
  border:none;
  font-color:white;
}
div{
    display:block;
}
.main-container{
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.nav-component{
    z-index:5;
    width: 100%
    position: relative;
    height: 82px;
}

.main-nav{
    width:100%;
    background: #20A6FC;
}
.main-header{
    height: 82px;
    max-width: 100%;
    margin: 0 auto;
    padding-left:110px;
    padding-right:121px;
}
.main-flex{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
}
.logo{
    display:flex;
    margin-left: -5px;
    width: 158px;
    height: 30.86px;
    background-image: url(/images/logo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.search-bar{
    display:flex;
    align-items:center;
    margin-left:156px;
    width:219px;
    height: 25px;
    justify-content:center;
}
.search-icon{
    height:14px;
    width:14px;
    color:white;
}
.search-input{
    width: 183px;
    height: 25px;
    margin-left:22.23px;
    border:none;

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */

    font-color:white;
    background-color: #20A6FC;

}
.account-info{
    align-items:center;
    display:flex;
    width:211px;
    height:42px;
    margin-left:auto;
}
.noti{
    width:30px;
    height:30px;
    color:white;
}
.avatar{
    width:40px;
    height:40px;
    margin-left:30px;
}
.avatar2{
    width:50px;
    height:50px;
}
.name{
    width:88px;
    height: 30px;

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    /* identical to box height, or 231% */


    color: #FFFFFF;

}
.poly{
    height:20px;
    width:15px;
    color:white;
}

.base-layout{
    flex-direction:column;
    background: #F4F4F4;
    height: 100%;
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.body-container{
    max-width: 1128px;
    width: 100%;
    margin: 20px auto 0 auto;
}
.content-container{
    flex-wrap: wrap;
    padding: 0 15px;
}
.html-flex{
    display:flex;
    background: #F4F4F4;
    color: #1B1D1F;
    font-family: Proxima Nova,sans-serif, Roboto;
    font-size: 15px;
    line-height: 11px;
}
.left{
    height:503px;
    justify-content:flex-start;
    display:flex;
    align-items:center;
    width: calc(25% - 15px);
    background-color:white;
    padding: 19px 30px 35px 30px;
}
.left-inner{
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
}
.inner-items{
    margin-top: 30px;
}
.inner-items:hover{
    cursor:pointer;
    background-color: #B5E3F8;
    margin-top: 30px;
}
.icon-class{
    height:30px;
    width:30px;
    color: #CCCCCC;
}

.icon-class1{
    height:15px;
    width:15px;
    color: #CCCCCC;
}
.courselabel{
    font-size:24px;
    color: white;
}

.course1{
    font-size:16px;
    color: white;
}
.feed{
    height: 20px;
    width: 76px;
    margin-left:15px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 154% */


    color: #878787;
}

.center{
    padding: 0 25px 0 25px;
    flex: 1;
    flex-direction:column;
}
.filter{
    display:flex;
    justify-content:space-between;
}
.first-content{
    margin-top: 15px;
    display:flex;
    flex-direction:column;
    background:#FFFFFF;
}
.firstcontent-entertext{
    display:flex;
    gap:20px;
    padding: 20px 0 0 20px;

}
.firstcontent-title{
    width: 28px;
    height: 20px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    color: #878787;
}
.firstcontent-inputtext{
    width: 95px;
    height: 20px;
    margin-top:20px;

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */


    color: #878787;
}
.text-div{
    margin-top:23px;
}
.hr{
    height:2px;
    margin-top:40px;
}

.firstdiv-lower{
    height:67px;
    display:flex;
    justify-content:space-between;
}
.left-content{
    display:flex;
    align-items:flex-end;
    justify-content:center;
    padding-left:10px;
    padding-bottom:15px;

}
.right-content{
    display:flex;
    align-items:flex-end;
    align-content:center;
    justify-content:center;
    padding-right:15px;
    padding-bottom: 15px;
}
.post-btn{
    margin-top:10px;
    margin-left: 10px;
    background-color:#20A6FC;
    color:white;
    width: 101px;
    height: 40px;
}
.licon{
    width: 25px;
    height: 25px;
    color:#D8D8D8;
    margin-left:10px;

}
.second-content{

    margin-top: 15px;
    display:flex;
    flex-direction:column;
    background:#FFFFFF;
}
.secondtop-content{
    margin-left:15px;
    display:flex;
    height:70px;
    margin-top:10px;
}
.dami{
    margin-top:5px;
    margin-left:10px;
    width: 102.8px;
    height: 20px;

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */


    color: #6C6C6C;
}
.days-div{
    margin-top:5px;
    margin-left:10px;
}
.days-text{

    width: 71.17px;
    height: 20px;

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */


    color: #A3A3A3;
}
.hr2{
    height:2px;
    margin-top:2px;
}
.second-detail{
    padding:31px;
}
.second-title{

    height: 18px;


    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 126% */


    color: #6C6C64;
}
.second-text{

    height: 40px;
    margin-top: 14px;

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    /* or 154% */


    color: #878787;

}
.seconddetail-div{
    margin-top:5px;
}
.second-lower{
    height:47px;
    display:flex;
    padding : 0px 10px 10px 25px;
    justify-content:space-between;
    align-items:center;
}
.lowercontent-left{
    gap:20px;
    display:flex;
    align-items:center;
}
.lowerfirst{
    cursor:default;
    gap: 10px;
}
.lowerfirst:hover{
    cursor:pointer;
    gap: 10px;
    transform: scale(1.3);
}
.like-text{
    width: 59.87px;
    height: 20px;
    margin-left:5px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */


    color: #A3A3A3;
}
.mid-lower{
    margin-top:10px;
    background:#FFFFFF;
}
.midlower-content{
    height:300px;
    background:grey;
    margin-top : 20px;
    margin-left : 20px;
    margin-bottom : 20px;
    margin-right : 20px;
}
.lower{

    background:white;
}
.lower-content{
    height:200px;
    background:yellow;
    margin-top : 20px;
    margin-left : 20px;
    margin-bottom : 20px;
    margin-right : 20px;
}

.right{
    margin-top:33px;
    padding-left: 5px;
    width: calc(28% - 15px);
}
.right-top{
    display:flex;
    flex-direction:column;
    background: #FFFFFF;
}
.recommend{
    justify-content:space-between;
    align-items:center;
    display:flex;
    padding:10px;
}
.righttop-content{
    margin-left:20px;
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:15px;
}
.image{

    max-width:215px;
}
.rightcontent-title{


    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* or 126% */


    color: #6C6C6C;
}
.rightcontent-text{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    /* or 154% */


    color: #878787;
}
.see-all{
    margin-left:26%;
    padding:50px;
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */


    color: #20A6FC;

}
.right-bottom{
   margin-top:20px;
   background:#FFFFFF;
   display:flex;
   flex-direction:column;
}
.comment-section{
    display:flex;
    gap:10px;
    flex-direction:column;
    display:none;
}

.comment-label{
    font-size:15px;
    color: black;
    border: 1px;
    border-style:groove;
}


/*Media css*/
@media(max-width:883px){
    .search-bar{
    align-items:center;
    display:flex;
    margin-left:auto;
    width:219px;
    height: 25px;
    justify-content:center;
    }
}
@media(max-width:805px){
    .feed{
        display:none;
    }
}
@media(max-width:689px){
    .main-header{
        height: 82px;
        max-width: 100%;
        margin: 0 auto;
        padding-left:0px;
        padding-right:0px;
    }
    .html-flex{
        display:flex;
        flex-direction:column;
        background: #F4F4F4;
        color: #1B1D1F;
        font-family: Proxima Nova,sans-serif, Roboto;
        font-size: 15px;
        line-height: 11px;
    }
    .left{
        margin-left:25px;
        margin-right:25px;
        height:60px;
        justify-content:center;
        display:flex;
        align-items:center;
        width: auto;
        background-color:white;

    }
    .left-inner {
        align-items:center;
        height:auto;
        display: flex;
        justify-content: center;
        flex-direction:row;
        gap: 30px;
    }
    .right{
        margin-top:33px;
        padding-left: 5px;
        width: auto;
    }


}
@media(max-width:587px){
    .search-input{
            display:none;
        }
    .search-bar{
        align-items:center;
        display:flex;
        margin-left:auto;
        width:219px;
        height: 25px;
        justify-content:flex-start;
        }
        .left-inner {
                align-items:center;
                height:auto;
                display: flex;
                justify-content: center;
                flex-direction:row;
                gap: 15px;
            }
}

@media(max-width:383px){
    .name{
        display:none;
    }
    .left-inner {
                    align-items:center;
                    height:auto;
                    display: flex;
                    justify-content: center;
                    flex-direction:row;
                    gap: 5px;
                }
}